<div>
    <div class="topbar-details">
        <div class="topbar-details-left">
            <h5 class="playlist-title mb-0">
                <a>{{ details_dict["title"] }}</a>
            </h5>
        </div>
        <div class="topbar-details-right">
            <span>Songs: {{ details_dict["total_items"] }}</span>
        </div>
    </div>
    <div class="topbar-details-bottom">
        <div class="topbar-details-bottom-left">
            <span class="topbar-details-bottom-left-text">Duration: {{ details_dict["duration"] }}</span>
        </div>
    </div>
</div>