/* Importing Google Font */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body, html {
    font-family: 'Poppins', sans-serif;
    background: #3b3c3d;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

